html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
    font-family: 'Ubuntu', 'Verdana', sans-serif !important;
    font-weight: 700;
    font-style: normal;
    background-color: #000000;
}

.container {
    height: 100%;
    width: 100%;
}

.canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    font-size: 4rem;
}

#loading-screen {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
}

.menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.menu h1 {
    margin-top: 0;
}

.menu-item {
    padding: 0 1rem;
    max-width: 30rem;
    text-align: center;
}
.menu-item.final {
    margin-top: 1rem;
}
.menu-item p {
    font-weight: 400;
}
.menu-box {
    width: 100%;
    max-width: 12rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.menu-row {
    margin: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: white;
}
#input-wrap-around {
    transform: scale(1.4);
    padding: 5px;
}
#input-speed {
    width: 2.5rem;
    text-align: right;
}
.about-link {
    color: #33CCCC;
}

.button {
    display: block;
    width: 150px;
    margin: 0.5rem;
    border: 1px solid #11AA11;
    border-radius: 5px;
    padding: 0 0.5rem;
    background-color: #33CC33;
    color: #FFFFFF;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.game-over {
    color: #CC0000;
}
